#search {
    width: 100%;
    padding: 0 2rem 0 2rem;
}

#search .card .card-content .card-title {
    margin: 0;
}

#search form {
    text-align: end;
}

#search label.active {
    color: #1876D2;
}

input#book:focus {
    border-color:#1876D2;
}